.contact-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: var(--secondary-3-color);
  overflow-y: auto;
}
.contact-page h1{
  padding: 2% 10%;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 5px;
  background-color: var(--secondary-2-color);
}
.contact-page .media-container{
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.media-container svg{
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:30px;
  transition: all .5s ease-in;
  font-size: 5rem;
}
.media-container svg:hover{
  background-color: var(--secondary-3-color);
  color: var(--primary-color);
}
.contact-page a{
  position: relative;
}
.contact-page a:visited,.contact-page a{
  color: inherit;
}
.contact-page a::before,
.contact-page a::after{
  --scale:0;
  position: absolute;
  left: 50%;
  top: -.25rem;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale)); 
  transition: 150ms transform;
}
.contact-page a::before{
  content: attr(data-tooltip);
  padding: .75rem;
  border-radius: .3rem;
  text-align: center;
  width:max-content ;
  max-width: 100%;
  background-color: var(--secondary-3-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  text-overflow: ellipsis;
}
.contact-page a:hover::before{
  --scale:1
}
@media screen and (max-width:600px) {
  .contact-page h1{
    font-size: 2rem;
  }
  .media-container svg{
    font-size: 3.5rem;
  } 
}
@media screen and (max-width:350px) {
  .contact-page h1{
    font-size: 1.5rem;
  }
  .media-container svg{
    padding: 25px;
    font-size: 2.5rem;
  }
}